/* GENERAL STYLING */

.sticky {
  font-family: 'Rubik', sans-serif;
  font-size: medium;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
    z-index: 99;
  background-color: #ddd;
  color: blue;
}

body {
    background-image: url('backimage-02.jpg');
}


.title-header {
    font-family: "Lucida Console", "Courier New", monospace;
    color: rgb(19, 18, 18);
    letter-spacing: 3px;
    left: 80px;
    right: 0;
}

.header-container {
    font-family: 'Cuprum', sans-serif;
    font-size: 40px;
    /* text-shadow: 2px 2px rgb(255, 0, 0); */
    text-align: center;
    background-size: contain;
    margin-top: 100px;    
}

h1 {
    font-size: 100;
}

h5 {
    font-weight: 800;

}

/* Navbar and sticky menu */
.topnav {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 100px;
    position: relative;
    background-color: #333;
    overflow: hidden;
}

.topnav-centered a {
    float: none;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}

#navbar {
    overflow: hidden;
    text-align: right;
  }
  
  #navbar a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  #navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  
  .content {
    padding: 16px;
  }
  
  /* Card container */
  .card-container {
    padding: 5px 5px 5px 5px;

  }

  /* Social media */
  .social-media {
      padding: 10px 10px ;
      text-align: center;
  }

  i { display: block; margin: 0 20px; }

  .intro-container {
    text-align: center;
    font-family: 'League Spartan', sans-serif;
    font-size: 20px;;
    background-color: inherit;
    padding: 100px 2px 2px 2px;
  }

/* Footer */

.footer {
    font-family: 'Rubik', sans-serif;
    padding: 20px 2px 2px 2px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: grey;
    color: white;
    text-align: center;
}

.header {
    text-align:center;
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    border-radius: 0.3rem;
    font-family: 'League Spartan',sans-serif;
}


.card h-100 {
  box-shadow: 0 20px 50px 0 rgb(0 0 0 / 20%);
}



.element {
    // Three columns to start
    @include row-cols(3);
  
    // Five columns from medium breakpoint up
    @include media-breakpoint-up(md) {
      @include row-cols(5);
    }
  }

  /* Content */

.inside-header {
    font-family: 'Cuprum', sans-serif;
    font-size: 40px;
    /* text-shadow: 2px 2px rgb(255, 0, 0); */
    text-align: center;
    background-size: contain;
    margin-top: 100px;
    padding: 100px 100px 100px 100px; 
}

.center {
  padding: 200 200 200 200;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.text-container {
  /* height: 100%;
  width: 100%;
  max-width: 760px;
  margin: 0 auto;
  /* margin-left: 100px;
  margin-right:100px; */
   */
}

.story-body {
     
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 10 30 30 10;
}


.text-container img {
  max-width: 100%;
  /* padding: 200px 200px 200px 200px; */

}

.headline {
  padding: 50px 50px ;

}

/* Collapsing Columns */

.row-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 2em;
}

.column-container {
  flex-grow: 1;
}

@media (max-width: 768px) {
  .row-container {
    flex-direction: column;
  }
}

@media screen and (min-width: 370px) {
  .row {
    margin: auto;
    padding-right: 0px;
}


/* @media screen and (max-width: 2000px) {
  .row {
    padding-left: auto;
  }    
} */

/* CARDS */
/* .card-container */
.card {
  box-shadow:
    -webkit-transition: box-shadow 0.6s linear;
  transition: box-shadow 0.2s linear;
  margin: 0.5em;
}

.card:hover {
  box-shadow: 0px 0px 0px 3px #212529;
}

.card p {
  margin-bottom: 0rem;
}

.box-outline {
  border-style: solid;
  border-color: gray;
}

.text-muted {
  font-family: 'Roboto';
  padding-left: 20px;
  padding-bottom: 2px;
  font-size: 16px;
}

.badge-color {
  background-color: #034C4C;
  color: #fff;
}

.badge-pill {
  border-radius: 5px;
}

.card-title {
  font-family: 'Georgia', serif;
  font-size: 20px;
}

.card-text {
  font-style: normal;
  font-size: 15px;
  padding-top: 10px

}

.row {
  justify-content: space-around;
}

.col-md-4 a:link {
  color: black
}

a:hover {
  color: blue;

}

.col-md-4 {
  max-width: 400px;
  
}

/* About Me */
.container-about {
  margin: auto;
  background-color: gainsboro;
  background-size: contain;
  margin-top: 100px;
  border: 0.5px solid #aeb1ab;;
  
}

.about-header {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 30px;
  padding: 100px;
}

.about-body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: black;
  padding: 100px 100px;
}

.about-body .p {
  padding: 100px;
}

.body-story {
  margin: auto;
  background-color: gainsboro;
  background-size: contain;
  margin-top: 100px;
  border: 0.5px solid #aeb1ab;;
  
}

.container-story {
  width: 850px;
  background-color: whitesmoke;
  background-size: contain;
  margin: auto;
  border: 0.5px solid #aeb1ab;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 60px;
}

.story-title {
  text-align: left;
  font-family: 'Merriweather', serif;
  padding-top: 10px;
}
.date-container {
  background-color: rgb(189, 188, 188);
  color: white;
  display: inline-block;
  margin: auto;
  padding-left: 4px;
  padding-right: 4px;
  font-family: 'Georgia', serif;
  font-size: 200px;
}