/* GENERAL STYLING */

.sticky {
  font-family: 'Rubik', sans-serif;
  font-size: medium;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
    z-index: 99;
  background-color: #ddd;
  color: black;
}

body {
    background-image: url('img/backimage-02.jpg');
}


.title-header {
    font-family: "Lucida Console", "Courier New", monospace;
    color: rgb(19, 18, 18);
    letter-spacing: 3px;
    left: 80px;
    right: 0;
}

.header-container {
    font-family: 'Cuprum', sans-serif;
    font-size: 40px;
    /* text-shadow: 2px 2px rgb(255, 0, 0); */
    text-align: center;
    background-size: contain;
    margin-top: 100px;    
}

h1 {
    font-size: 100;
}

h5 {
    font-weight: 800;

}

/* Navbar and sticky menu */
.topnav {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 100px;
    position: relative;
    background-color: #333;
    overflow: hidden;
}

.topnav-centered a {
    float: none;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}

#navbar {
    overflow: hidden;
    text-align: right;
  }
  
  #navbar a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  #navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  
  .content {
    padding: 16px;
  }
  
  /* Card container */
  .card-container {
    padding: 10px 100px 100px 50px;

  }

  /* Social media */
  .social-media {
      padding: 50px 50px ;
      text-align: center;
  }

  i { display: block; margin: 0 20px; }

  .intro-container {
    text-align: center;
    font-family: 'League Spartan', sans-serif;
    font-size: 20px;;
    background-color: inherit;
  }

/* Footer */

.footer {
    font-family: 'Rubik', sans-serif;
    padding: 20px 2px 2px 2px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: grey;
    color: white;
    text-align: center;
}

.header {
    text-align:center;
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    border-radius: 0.3rem;
    font-family: 'League Spartan',sans-serif;
}


.card h-100 {
  box-shadow: 0 20px 50px 0 rgb(0 0 0 / 20%);
}



.element {
    // Three columns to start
    @include row-cols(3);
  
    // Five columns from medium breakpoint up
    @include media-breakpoint-up(md) {
      @include row-cols(5);
    }
  }

  /* Content */


.text-container {
  height: 100%;
  width: 100%;
  max-width: 760px;
  margin: 0 auto;
  margin-left: 100px;
  margin-right:100px;
  
}

.text-container img {
  max-width: 80%;
  padding: 200px 200px 200px 200px;

}

.headline {
  padding: 50px 50px ;

}

/* Collapsing Columns */

.row-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 2em;
}

.column-container {
  flex-grow: 1;
}

@media (max-width: 768px) {
  .row-container {
    flex-direction: column;
  }
}


/* CARDS */

.card {
  box-shadow:
    -webkit-transition: box-shadow 0.6s linear;
  transition: box-shadow 0.2s linear;
  margin: 0.5em;
}

.card:hover {
  box-shadow: 0px 0px 0px 3px #212529;
}

.card p {
  margin-bottom: 0rem;
}

.box-outline {
  border-style: solid;
  border-color: black;
}

.text-muted {
  font-family: 'Roboto';
  padding-left: 20px;
  padding-bottom: 2px;
  font-size: 16px;
}

.badge-color {
  background-color: #034C4C;
  color: #fff;
}

.badge-pill {
  border-radius: 5px;
}

.card-title {
  font-size: 20px;
}

.card-additional-text {
  font-style: oblique;
  font-size: 10px;
  padding-top: 10px
